<div class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> 
        <span class="c-999 en">&gt;</span>
        <span class="c-666">用户管理</span> 
        <span class="c-999 en">&gt;</span>
        <span class="c-666">权限管理</span> 
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i id="refresh" class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <div class="pos-a tree-left">
            <ul id="tree" class="ztree"></ul>
        </div>
        <div class="tree-right">
            <article class="cl pd-20">
                <form method="post" class="form form-horizontal" id="auth-edit">
                    <input name="id" type="hidden">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>父菜单编号：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" name="parent_id">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" name="name">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>排序号：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" name="sort">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">Url：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" name="url">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">icon：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" name="icon">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">摘要：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <textarea name="desc" cols="" rows="6" class="textarea"  placeholder="说点什么..." datatype="*10-100" dragonfly="true" ></textarea>
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <button onclick="add()"  class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe604;</i> 新增</button>
                            <button onclick="edit()"  class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                            <button onclick="del()" class="btn btn-danger radius" type="button"><i class="Hui-iconfont">&#xe609;</i>删除</button>
                        </div>
                    </div>
                </form>
            </article>
        </div>
        
    </div>    
</div>

<script type="text/javascript" src="/static/js/jquery.ztree.core.js"></script> 
<script type="text/javascript" src="/static/js/jquery.ztree.excheck.min.js"></script> 
<script type="text/javascript">
    var setting = {
        data: {
            key:{
                name:"Name"
            },
            simpleData: {
                enable: true,
                idKey: "Id",
                pIdKey: "ParentId",
            },
            
        },
        callback: {
			onClick: onClick
		}
    };

    $(function() {  
        initTree()
    }); 

    function initTree(){
        $.ajax({
            url:"/service/admin/auth_getlist",
            dataType:"json",
            type:"GET",
            cache:false,
            success:function(data){
                console.log(data)
                if (data.status == 0){
                    var treeObj = $.fn.zTree.init($("#tree"), setting, data.message);
                    treeObj.expandAll(true); 
                }
            }
        })
    }

    function onClick(event, treeId, treeNode, clickFlag) {
		$.ajax({
            url:"/service/admin/auth_getone?id=" + treeNode.Id,
            dataType:"json",
            type:"GET",
            cache:false,
            success:function(data){
                console.log(data)
                if (data.status == 0){
                    $('input[name=id]').attr("value", data.message.Id)
                    $('input[name=parent_id]').attr("value", data.message.ParentId)
                    $('input[name=name]').attr("value", data.message.Name)
                    $('input[name=sort]').attr("value", data.message.Sort)
                    $('input[name=url]').attr("value", data.message.Url)
                    $('input[name=icon]').attr("value", data.message.Icon)
                    $('textarea[name=email]').val(data.message.Desc)
                }
                else{
                    layer.msg(data.message, {icon: 2});
                }
            }
        })
	}	

    function add(){
        var parent_id = $('input[name=parent_id]').val()
		var name = $('input[name=name]').val()
		var sort = $('input[name=sort]').val()
		var url = $('input[name=url]').val()
		var icon = $('input[name=icon]').val()
		var desc = $('textarea[name=email]').val()

        $.ajax({
            url:"/service/admin/auth_add",
            dataType:"json",
            type:"POST",
            cache:false,
            data:{
                parent_id:parent_id,
                name:name,
                sort:sort,
                url:url,
                icon:icon,
                desc:desc
            },
            success:function(data){
                if(data.status == 0){
                    initTree()
                    layer.msg("新增权限成功", {icon: 1});
                }
                else{
                    $.Huimodalalert(data.message,2000)
                }
            }
        })
    }

    function edit(){
        var id = $('input[name=id]').val()
        var parent_id = $('input[name=parent_id]').val()
		var name = $('input[name=name]').val()
		var sort = $('input[name=sort]').val()
		var url = $('input[name=url]').val()
		var icon = $('input[name=icon]').val()
		var desc = $('textarea[name=email]').val()

        $.ajax({
            url:"/service/admin/auth_edit",
            dataType:"json",
            type:"POST",
            cache:false,
            data:{
                id:id,
                parent_id:parent_id,
                name:name,
                sort:sort,
                url:url,
                icon:icon,
                desc:desc
            },
            success:function(data){
                if(data.status == 0){
                    initTree()
                    layer.msg("修改权限成功", {icon: 1});
                }
                else{
                    $.Huimodalalert(data.message,2000)
                }
            }
        })
    }

    function del(){
        alert("del")
    }
</script>