<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<div class="container">
			<h1>Chain Admin</h1>
			
			<form class="form" method="post" id="login-form">
				<input type="text" placeholder="username" name="username" value="">
				<input type="password" placeholder="password" name="password" value="">
				<button type="submit" id="login-button">Login</button>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/h-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/static/h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/static/h-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script>
$('#login-form').validate({
	rules:{
		username:{
			required:true,
			minlength:4,
			maxlength:16
		},
		password:{
			required:true,
			minlength:6,
		},
	},
	onkeyup:false,
	focusCleanup:true,
	success:"valid",
	submitHandler:function(form){
		var username = $('input[name=username]').val()
		var password = $('input[name=password]').val()
		$.ajax({
			url : "/service/login",
			dataType : "json",
			type : "POST",
			cache : false,
			data : {
				username:username,
				password:password
			},
			success:function(data){
				console.log(data)
				if(data.status == 0){
					window.location.href="/admin/index";
				}else{
					layer.msg(data.message, {icon: 2});
				}
			},
			error: function (xhr, status, error) {
				console.log(xhr);
				console.log(status);
				console.log(error);
			}
		})
	}
});
</script>
</body>
</html>